

.top-content {
   text-align: center;
         
}

.top-img {
    max-width: 100%;
    height: 250px;
}

.share {
    
    
}




// header .signup {
//         background: rgba(224, 39, 39, 0.767);
//         color: white;
//         width: 150px;
//         margin-left: 0;
//         text-align: center;
//     }

.menu {
    padding-top: 10px;
    margin-left: 10px;
    &:hover {
        cursor: pointer;
    }
}