@import "reset.less";
@import "global.less";
@import "container.less";    
@import "header-nav.less";
@import "mid-content.less";    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        body {
        background: lightgrey;
    }
    
    // .container {
    //     margin: 0 auto;
    //     max-width: 1000px;
    // }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: absolute; /* Stay in place */
        z-index: 2; /* Stay on top */
        top: 0;
        left: auto;
        background-color: black;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      }

      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: rgba(224, 39, 39, 0.767);
        transition: 0.3s;
        display: block;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .sidenav :hover {
          cursor: pointer;
      }

      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
    

    nav span {
        background:rgba(224, 39, 39, 0.767);
        color: white;
    }

    // 
    
    header {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        text-align: center;
    }
    
    
    
    // .first-card img {
    //     width: 500px;
    //     height: 200px;
    // }
    
    // .second-card img {
    //     width: 450px;
    //     height: 300px;
    // }
    
    // .third-card img {
    //     width: 450px;
    //     height: 300px;
    // }
    
    // .forth-card img {
    //     width: 450px;
    //     height: 300px;
    // }
    
    // .about-us img {
    //     width: 450px;
    //     height: 300px;
    // }
    
    // footer {
    //     margin-left: 500px;
    // }


//     @media screen and (max-width: 736px) {
//     body {
//         background: rgb(126, 124, 124);
//     }
    
//     nav {
//         background:rgb(44, 43, 43);
//     }
    
//     nav a {
//         color: white;
//         padding: 10px;
//     }
    
//     header .signup {
//         background: rgba(224, 39, 39, 0.767);
//         color: white;
//     }
    
//     .top-content img {
//         width: 1300px;
//         height: 300px;
//     }
    
//     .first-card img {
//         width: 570px;
//         height: 300px;
//     }
    
//     .second-card img {
//         width: 570px;
//         height: 300px;
//     }
    
//     .third-card img {
//         width: 570px;
//         height: 300px;
//     }
    
//     .forth-card img {
//         width: 570px;
//         height: 300px;
//     }
    
//     .about-us img {
//         width: 1000px;
//         height: 500px;
//     }
    
//     footer {
//         margin-left: 500px;
//     }
// }

// @media screen and (max-width: 900px) {
//     body {
//         background: rgb(61, 61, 61);
//     }
    
//     // .container {
//     //     display: flex;
//     // }
    
//     nav {
//         background:rgb(44, 43, 43);
//     }
    
//     nav a {
//         color: white;
//         padding: 10px;
//     }
    
//     header .signup {
//         background: rgba(224, 39, 39, 0.767);
//         color: white;
//     }
    
//     .top-content img {
//         width: 500px;
//         height: 300px;
//     }
    
//     .first-card img {
//         width: 570px;
//         height: 300px;
//     }
    
//     .second-card img {
//         width: 570px;
//         height: 300px;
//     }
    
//     .third-card img {
//         width: 570px;
//         height: 300px;
//     }
    
//     .forth-card img {
//         width: 570px;
//         height: 300px;
//     }
    
//     .about-us img {
//         width: 1000px;
//         height: 500px;
//     }
    
//     footer {
//         margin-left: 500px;
//     }
//     }

// @media screen and (max-width: 1920px) {

// body {
//     background: rgb(61, 61, 61);
// }

// // .container {
// //     display: flex;
// // }

// nav {
//     background:rgb(44, 43, 43);
// }

// nav a {
//     color: white;
//     padding: 10px;
// }

// header .signup {
//     background: rgba(224, 39, 39, 0.767);
//     color: white;
// }

// header {
//     display: inline-flex;
//     display: flex;
//     flex-direction: row;
// }

// .top-content img {
//     width: 500px;
//     height: 300px;
// }

// .first-card img {
//     width: 500px;
//     height: 300px;
// }

// .second-card img {
//     width: 570px;
//     height: 300px;
// }

// .third-card img {
//     width: 570px;
//     height: 300px;
// }

// .forth-card img {
//     width: 570px;
//     height: 300px;
// }

// .first-seg {
//     display: inline-block;
// }

// .second-seg {
//     display: inline-block;
// }

// .about-us img {
//     max-width: 500px;;
//     height: 500px;
// }

// footer {
//     margin-left: 500px;
// }};