

.mid-section {
    display: flex;
    // Justify-content: space-between;
    border: 1px solid black;
    height: 1000px;
    width: 100%;
}

.topHeader {
    margin-left: 200px ;
    margin-top: 20px;
    // display: fex;
    // justify-content: space-evenly;
    border: 1px solid black;
    // max-width: 110%;
    height:60px;
    background: #6E0DF9;
    color: yellow;
    border-radius: 20px;

    h2{
        margin: 15px;
        font-size: 3rem;
        color: pink;
        text-align: center;
    }
}

.countries {
    border: 1px solid black;
    width: 300px;

    h3 {
        font-size: 3rem;
        text-align: center;
        padding: 10px auto;
        height: 50px;
        background: #6E0DF9;
        color: yellow;
    }

    .selection {
        margin-top: 10px;
        text-align: center;
        font-size: 2.5rem;
        color: blue;

        .tab {
            margin-bottom: 20px;
        }

        .active-tab {
            color: green;
        }
    }
}

.stories{
    border: 3px solid red
}