.navigation-back{
    background-color:#474545;
    max-width: 500px;  
}

.navigation{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    
    h1 {
        font-size: 4rem;
        margin: 20px 0;
        color: white;
    }
    button {
        color: red;
        max-width: 130px;
        border: 1px solid black;
        margin: 10px auto;
        background: #474545;
        border-radius: 30px;
        height: 50px;
     }
}




