/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.top-content{
  width: 30%;
}
h1 {
  font-size: 3rem;
  margin: 15px 0;
}
@media (min-width: 500px) {
  h1 {
    font-size: 4rem;
  }
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.5rem;
  margin: 15px 0;
}
@media (min-width: 500px) {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3.2rem;
  }
}
span {
  font-size: 2rem;
}
@media (min-width: 500px) {
  span {
    font-size: 3rem;
  }
}
.sign {
  font-size: 24px;
  background: rgba(224, 39, 39, 0.767);
  color: white;
  max-width: 130px;
  margin-left: 737px;
}
.signin{
  font-size: 24px;
  background: rgba(224, 39, 39, 0.767);
  color: white;
  max-width: 130px;

}

#root{
  display: block;
}

@media (min-width: 500px) {
  .sign {
    font-size: 2.5rem;
    max-width: 550px;
  }
}
.submit {
  margin: 0 auto;
  font-size: 2rem;
  background: rgba(224, 39, 39, 0.767);
  color: white;
  max-width: 130px;
}
@media (min-width: 500px) {
  .submit {
    font-size: 2.5rem;
    max-width: 550px;
  }
}
p {
  font-size: 1.5rem;
  margin: 15px 0;
}
@media (min-width: 500px) {
  p {
    font-size: 2.5rem;
  }
}
img {
  width: 100%;
  height: 200px;
  margin: 10px auto;
}
.top-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.menu {
  margin-left: 10px;
}
.menu:hover {
  cursor: pointer;
}
.mobile {
  text-align: center;
}
@media (min-width: 500px) {
  .mobile {
    max-width: 45%;
  }
}
footer {
  text-align: center;
}
.about-us {
  max-width: 100%;
}
.about-us {
  border-top: 2px solid black;
}
@media (min-width: 500px) {
  .desktop {
    display: flex;
    justify-content: space-between;
  }
}
body {
  background: lightgrey;
}
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: absolute;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  left: auto;
  background-color: black;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgba(224, 39, 39, 0.767);
  transition: 0.3s;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav :hover {
  cursor: pointer;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
nav span {
  background: rgba(224, 39, 39, 0.767);
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
}


.main_items{
  display: inline-block;
  /* flex-direction: column; */
  text-align: center
}
.create_stories{
  width: 200px;
  border: 1px solid black;
  padding-left: 11px;
  height: 270px;
  margin-top: 21px;
}

.items{
  border: 1px solid red;
  float: right;
  border-radius: 25px;
  width: 235px;
}

item_list{
  width: 800px
}




.items p{
  font-size: 20px
}

.create_stories p{
  margin: 0 126px 2px 1px;
  font-weight: 400;
  font-size: 20px;
}

.createbutton{
  margin-top: 7px;
  margin-left: 48px;
}

.loginform{
  width: 272px;
  margin: 0 auto 1em auto;
}

.loginform p{
  margin: 0 126px 2px 0;
  font-weight: 100;
  font-size: 18px;
}
.loginbutton{
  margin-left: 45px
}

.signup{
  width: 272px;
  margin: 0 auto 1em auto;
}
.signup p{
  margin: 0 126px 2px 0;
  font-weight: 100;
  font-size: 18px;
}
.signupbutton{
  margin-left: 45px
}

