@media screen and (max-width: 480px) {
    body {
        background: lightgrey;
        font-family: 'Yanone Kaffeesatz';
    }
    
    .container {
        margin: 0 auto;
		max-width: 100%;
        width: 480px;
        cursor: pointer;
    }

    nav {
        background:rgb(44, 43, 43);
    }
    
    nav a {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s
    }
      .change .a1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
      }

      .change .a2 {
          opacity: 0;
      }

      .change .a3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }
    
    header .signup {
        background: rgba(224, 39, 39, 0.767);
        color: white;
        border-radius: 50%;
    }
    
    .top-content a {
        font-family: 'Yanone Kaffeesatz';
        background: rgba(224, 39, 39, 0.767);
        color: white;
        border-radius: 50%;
    }
    
    .top-content img {
        width: 450px;
        height: 200px;
    }
    
    .first-card img {
        width: 570px;
        height: 300px;
    }
    
    .second-card img {
        width: 570px;
        height: 300px;
    }
    
    .third-card img {
        width: 570px;
        height: 300px;
    }
    
    .forth-card img {
        width: 570px;
        height: 300px;
    }
    
    .about-us img {
        width: 1000px;
        height: 500px;
    }
    
    footer {
        margin-left: 500px;
    }
}

/* @media screen and (max-width: 736px) {
    body {
        background: rgb(61, 61, 61) url("air-cloudiness-clouds-414659.jpg");
    }
    
    .container {
        display: flex;
    }
    
    nav {
        background:rgb(44, 43, 43) url("air-cloudiness-clouds-414659.jpg");
    }
    
    nav a {
        color: white;
        padding: 10px;
    }
    
    header .signup {
        background: rgba(224, 39, 39, 0.767);
        color: white;
        margin-left: 400px;
    }
    
    .top-content {
        
    }
    
    .top-content img {
        width: 1300px;
        height: 300px;
    }
    
    .first-card img {
        width: 570px;
        height: 300px;
    }
    
    .second-card img {
        width: 570px;
        height: 300px;
    }
    
    .third-card img {
        width: 570px;
        height: 300px;
    }
    
    .forth-card img {
        width: 570px;
        height: 300px;
    }
    
    .about-us img {
        width: 1000px;
        height: 500px;
    }
    
    footer {
        margin-left: 500px;
    }
}

@media screen and (max-width: 900px) {
    body {
        background: rgb(61, 61, 61) url("air-cloudiness-clouds-414659.jpg");
    }
    
    .container {
        display: flex;
    }
    
    nav {
        background:rgb(44, 43, 43);
    }
    
    nav a {
        color: white;
        padding: 10px;
    }
    
    header .signup {
        background: rgba(224, 39, 39, 0.767);
        color: white;
        margin-left: 400px;
    }
    
    .top-content {
        
    }
    
    .top-content img {
        width: 1300px;
        height: 300px;
    }
    
    .first-card img {
        width: 570px;
        height: 300px;
    }
    
    .second-card img {
        width: 570px;
        height: 300px;
    }
    
    .third-card img {
        width: 570px;
        height: 300px;
    }
    
    .forth-card img {
        width: 570px;
        height: 300px;
    }
    
    .about-us img {
        width: 1000px;
        height: 500px;
    }
    
    footer {
        margin-left: 500px;
    }
    }

@media screen and (max-width: 1920px) {

body {
    background: rgb(61, 61, 61) url("air-cloudiness-clouds-414659.jpg");
}

.container {
    display: flex;
}

nav {
    background:rgb(44, 43, 43);
}

nav a {
    color: white;
    padding: 10px;
}

header .signup {
    background: rgba(224, 39, 39, 0.767);
    color: white;
    margin-left: 400px;
}

.top-content {
    
}

.top-content img {
    width: 1300px;
    height: 300px;
}

.first-card img {
    width: 570px;
    height: 300px;
}

.second-card img {
    width: 570px;
    height: 300px;
}

.third-card img {
    width: 570px;
    height: 300px;
}

.forth-card img {
    width: 570px;
    height: 300px;
}

.about-us img {
    width: 1000px;
    height: 500px;
}

footer {
    margin-left: 500px;
}
} */






