@media screen and (max-width: 500px) {
  body {
    background: lightgrey;
    font-family: 'Yanone Kaffeesatz';
  }
  .container {
    margin: 0 auto;
  }
  nav {
    background: #2c2b2b;
  }
  nav a {
    color: white;
  }
  .title img {
    width: 450px;
    height: 200px;
  }
  h1 {
    text-align: center;
  }
  .para {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  textarea {
    width: 250px;
    height: 30px;
    border: 1px solid rgba(224, 39, 39, 0.767);
    text-align: center;
    resize: none;
    padding: 5px;
  }
  button {
    background: rgba(224, 39, 39, 0.767);
    width: 170px;
    height: 30px;
    padding: 5px;
    border: 2px solid rgba(124, 29, 29, 0.767);
  }
  .email {
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 500px) {
  body {
    background: lightgrey;
    font-family: 'Yanone Kaffeesatz';
  }
  .container {
    margin: 0 auto;
  }
  nav {
    background: #2c2b2b;
  }
  nav a {
    color: white;
  }
  textarea {
    width: 250px;
    height: 30px;
    border: 1px solid rgba(224, 39, 39, 0.767);
    text-align: center;
    resize: none;
    padding: 5px;
  }
  button {
    background: rgba(224, 39, 39, 0.767);
    width: 170px;
    height: 30px;
    padding: 5px;
    border: 2px solid rgba(124, 29, 29, 0.767);
  }
  .search {
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .questions {
    text-align: center;
  }
  .contact {
    text-align: center;
  }
}
body {
  background: lightgrey;
}
.container {
  margin: 0 auto;
  max-width: 500px;
}
nav {
  background: #2c2b2b;
}
header .signup {
  background: rgba(224, 39, 39, 0.767);
  color: white;
}
header {
  margin: auto;
  width: 95%;
  border: 1px solid black;
  padding: 10px;
}
h1 {
  text-align: center;
}
.top-content a {
  font-family: 'Yanone Kaffeesatz';
  background: rgba(224, 39, 39, 0.767);
  color: white;
}
.top-img {
  width: 100%;
  height: 200px;
  border: 1px solid red;
}
.first-card img {
  width: 450px;
  height: 250px;
}
.second-card img {
  width: 450px;
  height: 300px;
}
.third-card img {
  width: 450px;
  height: 300px;
}
.forth-card img {
  width: 450px;
  height: 300px;
}
.about-us img {
  width: 450px;
  height: 300px;
}
footer {
  margin-left: 500px;
}
@media screen and (max-width: 736px) {
  body {
    background: #7e7c7c;
  }
  nav {
    background: #2c2b2b;
  }
  nav a {
    color: white;
    padding: 10px;
  }
  header .signup {
    background: rgba(224, 39, 39, 0.767);
    color: white;
    margin-left: 400px;
  }
  .top-content img {
    width: 1300px;
    height: 300px;
  }
  .first-card img {
    width: 570px;
    height: 300px;
  }
  .second-card img {
    width: 570px;
    height: 300px;
  }
  .third-card img {
    width: 570px;
    height: 300px;
  }
  .forth-card img {
    width: 570px;
    height: 300px;
  }
  .about-us img {
    width: 1000px;
    height: 500px;
  }
  footer {
    margin-left: 500px;
  }
}
@media screen and (max-width: 900px) {
  body {
    background: #3d3d3d;
  }
  nav {
    background: #2c2b2b;
  }
  nav a {
    color: white;
    padding: 10px;
  }
  header .signup {
    background: rgba(224, 39, 39, 0.767);
    color: white;
    margin-left: 400px;
  }
  .top-content img {
    width: 1300px;
    height: 300px;
  }
  .first-card img {
    width: 570px;
    height: 300px;
  }
  .second-card img {
    width: 570px;
    height: 300px;
  }
  .third-card img {
    width: 570px;
    height: 300px;
  }
  .forth-card img {
    width: 570px;
    height: 300px;
  }
  .about-us img {
    width: 1000px;
    height: 500px;
  }
  footer {
    margin-left: 500px;
  }
}
@media screen and (max-width: 1920px) {
  body {
    background: #3d3d3d;
  }
  nav {
    background: #2c2b2b;
  }
  nav a {
    color: white;
    padding: 10px;
  }
  header .signup {
    background: rgba(224, 39, 39, 0.767);
    color: white;
    margin-left: 400px;
  }
  header {
    display: inline-flex;
  }
  .top-content img {
    width: 1300px;
    height: 300px;
  }
  .first-card img {
    width: 570px;
    height: 300px;
  }
  .second-card img {
    width: 570px;
    height: 300px;
  }
  .third-card img {
    width: 570px;
    height: 300px;
  }
  .forth-card img {
    width: 570px;
    height: 300px;
  }
  .first-seg {
    display: inline-block;
  }
  .second-seg {
    display: inline-block;
  }
  .about-us img {
    width: 1000px;
    height: 500px;
  }
  footer {
    margin-left: 500px;
  }
}
@media screen and (max-width: 500px) {
  body {
    background: lightgrey;
    font-family: 'Yanone Kaffeesatz';
  }
  .container {
    margin: 0 auto;
  }
  nav {
    background: #2c2b2b;
  }
  nav a {
    color: white;
  }
  h1 {
    text-align: center;
  }
  .why {
    text-align: center;
  }
  button {
    background: rgba(224, 39, 39, 0.767);
    width: 170px;
    height: 30px;
    padding: 5px;
    border: 2px solid rgba(124, 29, 29, 0.767);
  }
  .add-file {
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .add-file textarea {
    width: 250px;
    height: 30px;
    border: 1px solid rgba(224, 39, 39, 0.767);
    text-align: center;
    resize: none;
    padding: 5px;
  }
  .write {
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .write textarea {
    width: 250px;
    height: 30px;
    border: 1px solid rgba(224, 39, 39, 0.767);
    text-align: center;
    resize: none;
    padding: 5px;
  }
  .submit {
    background: rgba(224, 39, 39, 0.767);
    width: 158px;
    height: 16px;
    padding: 5px;
    border: 2px solid rgba(124, 29, 29, 0.767);
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  body {
    background: lightgrey;
    font-family: 'Yanone Kaffeesatz';
  }
  .container {
    margin: 0 auto;
  }
  nav {
    background: #2c2b2b;
  }
  nav a {
    color: white;
  }
  h1 {
    text-align: center;
  }
}
.top-content {
  max-width: 400px;
}
.top-content img {
  max-width: 100%;
}
@media (min-width: 500px) {
  .top-content {
    display: none;
  }
}
