.App {
  text-align: center;
  display: flex;
}

.navigation {
  background:rgb(44, 43, 43);
}

.navigation a{
  color: white;
  padding: 10px;
}

.navigation .signup {
  background: rgba(224, 39, 39, 0.767);
  color: white;
  margin-left: 400px;
}
